# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual/env folders
.conda/
venv/
.venv/
env/
.env
.env.*

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# VS Code
.vscode/

# Data/outputs and logs (track artifacts in repo)
# logs/

# Models/checkpoints (still ignore large/binary weights)
*.h5
checkpoints/

# Spark/Dask artifacts
spark-warehouse/
.derby/

# OS files
Thumbs.db
.DS_Store
